[Desktop Entry]
Version=1.0
Name=MonoDevelop
Comment=Avvia MonoDevelop da container Docker
Exec=/home/armando/.local/bin/monodevelop-docker %F
Icon=monodevelop
Terminal=true
Type=Application
Categories=Development;IDE;
StartupNotify=true
MimeType=text/x-csharp;application/x-msbuild;application/x-visualstudio-sln;