name: Build and Push Docker Image

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract version from Dockerfile
        id: extract-version
        run: |
          VERSION=$(sed -n 's/.*org.opencontainers.image.version="\([^"]*\)".*/\1/p' Dockerfile)
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: armandob/monodevelop-docker:latest,armandob/monodevelop-docker:${{ env.VERSION }}